@import url('https://fonts.cdnfonts.com/css/pokemon-solid');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  
  color: rgb(255, 221, 0);
    -webkit-text-stroke: 2px black;
  font-family: 'Pokemon Solid';
  font-size: 70px;
  letter-spacing: 10px;
  text-align: center;
  margin-top: 6rem;
}

@media(max-width:1024px){
  h1{
    margin-top: 2rem;
  }
}

h2{
  color: rgb(255, 221, 0);
  -webkit-text-stroke: 2px black;
  font-family: 'Pokemon Solid';
  font-size: 60px;
  letter-spacing: 10px;
  text-align: center;
  margin-top: 7rem;
}

h1:hover{
  text-shadow: 1px 2px 8px rgb(255, 230, 0);
}

body {
  display: flex;
  flex-direction: column;
  
}
.card figure {
  display: flex;

}
main {
  height: 100vh;
  width: auto;
  overflow: auto;
  margin: 0;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  z-index: 1;
  background-image: url('../styles/pokemon-in-the-wild.png');
  background-position: center center; 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  
 
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.border {
  width: 800px;
  display: flex;
  justify-content: center;
}

#left{
  background: #df0d34;
  height: 100%;
  width: 100%;
  border-radius: 10px 0 0 10px;
  border: 1px solid black;
  border-right: 10px solid black;
  box-sizing: border-box;
  padding: 15px 20px;
}


#right {
  text-align: center;
  width: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid black;
  border-left: 10px solid black;
  box-sizing: border-box;
  background: #df0d34;
}

.buttons-top {
  display: flex;
  gap:1rem;
  margin-bottom: 1rem;
  align-items: center;
}


.green1 {
  width: 12%;
  height: 40px;
  background-color: #33ff00;
  border-radius: 50%;
  border: 1px solid black; 
  

}
.blue2 {
  width: 10%;
  height: 30px;
  background-color: #00c3ff;
  border-radius: 50%;
  border: 1px solid black;

}
.yellow3 {
  width: 10%;
  height: 30px;
  background-color: #d9ff00;
  border-radius: 50%;
  border: 1px solid black;

}
.red4 {
  width: 10%;
  height: 30px;
  background-color: #ff1100;
  border-radius: 50%;
  border: 1px solid black;

}


form {
  display: flex;
  margin-top: 1em;
  justify-content:space-evenly;
  gap:0.4rem;
  flex-wrap: wrap;
  align-items: center;
}

input {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 10px;
  background-color: #fdbb05;
  border: none;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 1em;
  flex-grow: 1;   
}

.searchButton {
  border: 1px solid black;
  box-shadow: 2px 3px 1px rgba(25, 24, 24, 0.5);
  width: 38px;
  height: 38px;
  background: #05aefd;
  border-radius: 50%;
  cursor: pointer;
}

.searchButton:active{
  transform: translateY(8px);
  box-shadow: 0px 1px 0px rgb(14, 14, 14);
}


#result {
    padding: 20px;
    border-radius: 10px;
    background: rgb(228, 223, 223);
    border: 2px solid black;
    border-radius: 10px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-position: center;
    font-size: 1.4rem;
    font-family: 'pokemon solid' ;
    color: rgb(255, 221, 0);
    -webkit-text-stroke: 2px black;
    letter-spacing: 3px;
    line-height: 1.9rem;
}



@media(max-width: 1024px){
#result{
  height: 200px;
  font-size: 15px;
}
}

@media(max-width: 1024px){
 
  }

/* #results::-webkit-scrollbar {
  -webkit-appearance: none;
} */

.first-ul {
  margin-top: 0.5rem;
}
ul {
  margin-top: .009rem;;
  display: flex;
  justify-content:center;
  gap: 1rem;
  color: #030f14;
  
}




.results{
  margin-top: 0px;
  margin: 30px;
  height: auto;
  color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}



.cards{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid goldenrod;  
  background:radial-gradient(rgb(173, 173, 173) 50%, rgb(122, 122, 122));
  transition: easy 2s;
  border-radius: 10px;
  height: 170px;
  width: 160px;
  border: 5px solid goldenrod;
}

@media(max-width: 1024px){
  .cards{
   background: none ;
   border: none;
   margin-bottom: -40px;
  
}

.cards:hover{
  transform: scale(1.1);
 }

 @media(max-width:1024px){
  .cards:hover{
    transform: none;
   }
 }

.card-info{
  width: 90%;
}


.card-info > p{
  margin: 3px;
 
}

.img-container{
  display: flex;
  justify-content: center;
  margin-top: 15px;
  border: 5px solid goldenrod;  
  height: 110px;
  width: 120px;
  border-radius: 5px;
  box-shadow: 4px 4px 9px gray;
  background: 
  -webkit-linear-gradient(
 -72deg,
 #eff0f5,
 #929292 16%,
 #606060 21%,
 #cecccc 24%,
 #585858 27%,
 #dfe6f3 36%,
 #ffffff 45%,
 #ffffff 60%,
 #d7d8e1 72%,
 #ffffff 80%,
 #b7b7b7 84%,
 #a0a0a0) ;
 };
}

@media(max-width: 1024px){
  .img-container{
    width: 350px;
  }
}


.img-container > img {
  object-fit: cover;
  width:auto;
  height:auto;
}

@media(max-width: 1024px){
  .img-container > img{
    width: 250px;
  }
}


.cards-name{
  background:linear-gradient( rgb(243, 214, 109) 50%, rgb(239, 221, 173));
  box-shadow: 4px 4px 9px rgb(43, 40, 40);
  border-radius: 3px;
  margin-top: 3%;
  font-size: 12.9px;
  font-family: "Comic Sans MS", "Comic Sans", cursive; ;
  text-align: center;
  width: 120px;
}



 
/* .full-card{ */
  /* transform-style: preserve-3d;
  transition:all 550ms cubic-bezier(.1,.22,.8,1.13);
  perspective: 2000px; */
  /* display: flex;
  justify-content: center; */
 
/* } */

.full-card-front img {
  margin-top: 5rem;
  max-width: 10rem;

  transition: all 1s
}

.full-card-front img:hover{
  transform: rotateZ(360deg);
}


@media(max-width: 1024px){
  .full-card-front img {
    width: 9rem;
    margin-top: -50px;
  }
}

.full-card-front {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*  .full-card-front{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  border: 2px solid rgb(200, 195, 195);
  border-radius: 5px;
  height: 440px;
  justify-content: center;
  backface-visibility: hidden;
  width: 350px;
  background:
-webkit-linear-gradient(
  -72deg,
  #172bdf,
  #ffffff 16%,
  #7199f8 21%,
  #ffffff 24%,
  #000145 27%,
  #4583ff 36%,
  #ffffff 45%,
  #ffffff 60%,
  #4551ff 72%,
  #ffffff 80%,
  #4570ff 84%,
  #452100)

 } */

 .full-card-front > h1 {
    color: rgb(255, 221, 0);
    -webkit-text-stroke:2px black;
    font-family: 'Pokemon Solid';
    font-size: 50px;
    letter-spacing: 10px;
    text-align: center;
    margin-bottom: 3rem;
 }

/*  .full-card-back{
  background-color: blue;
  position: absolute;
  border: 8px solid rgb(17, 15, 9);
  border-radius: 5px;
  height: 440px;
  justify-content: center;
  transform: rotateY(180deg);
  backface-visibility: hidden;
width: 350px;
background-color:
-webkit-linear-gradient(
  -72deg,
  #ffde45,
  #ffffff 16%,
  #ffde45 21%,
  #ffffff 24%,
  #452100 27%,
  #ffde45 36%,
  #ffffff 45%,
  #ffffff 60%,
  #ffde45 72%,
  #ffffff 80%,
  #ffde45 84%,
  #452100)
 } */


/*  .full-card:hover{
  transform: rotateY(-180deg);
 } */

 .full-card-front > p{
  background:linear-gradient( rgb(243, 214, 109) 50%, rgb(239, 221, 173));
  box-shadow: 4px 4px 9px rgb(43, 40, 40);
  border-radius: 3px;
  border: 2px solid orange;
  margin-top: 3%;
  width: 20rem;
  height: 5rem;
  padding: 1.5rem;
  color: black;
 }


 


/* .full-card > .full-img-container{
  display: flex;
  justify-content: center;
  margin-top: 15px;
  border: 5px solid goldenrod;  
  height: 100px;
  width: 160px;
  border-radius: 5px;
  box-shadow: 4px 4px 9px gray;
  background:linear-gradient(rgb(205, 205, 205) 50%, rgb(150, 150, 150));
} */

 img{

  object-fit: cover;
  width:80%;
  }

  @media (max-width: 1024px) {
    .border {
        display: flex;
        flex-direction: column;
        align-items: center;
        
      }
    #left {
      height: 400px;     
      width: 350px;
      border: none;
      border-radius: 10px;
      margin-bottom: 5px;
            }
      
    #right {
      width: 350px;
      height: 300px;     
      border: none;
      border-radius: 10px;
            }
  }


  .parpadea {
  
    animation-name: parpadeo;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  
    -webkit-animation-name:parpadeo;
    -webkit-animation-duration: 1.7s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
  }
  
  @-moz-keyframes parpadeo{  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }
  
  @-webkit-keyframes parpadeo {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
     100% { opacity: 1.0; }
  }
  
  @keyframes parpadeo {  
    0% { opacity: 1.0; }
     50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }